extends layout

block content
  #toolbar
    button(onclick='clearActionsHistory()') clear history
    button(onclick='add245()') 245
    button(onclick='addOrthogonal()') orthogonal wire
    button(onclick='toolSelect()') select
  #container
  script(src='/javascripts/bundle.js')
